%h3 Enter Login Details.
= flash[:notice]
= form_for(:session, url: login_path) do |f|
    = f.label :username, 'Username', :class => 'labels'
    = text_field :session, :username, :class => 'text_f'
    %br
    = f.label :password, 'Password', :class => 'labels'
    = text_field :session, :password, :class => 'text_f'
    %br
    = submit_tag 'Login', :class => 'button5'