%h3 Welcome #{@username}
%h3 Course Page :: #{@courseSelect}
= link_to 'Logout', logout_path, method: 'delete', :class => 'logout-button button5'
%h2 Instructor :: #{@course.instructor}
%h2 Days       :: #{@course.days}
%h2 Start-Time :: #{@stime}
%h2 End-Time   :: #{@etime}
%h2 Venue      :: #{@course.venue}
%br
= link_to 'Delete This Course', users_course_delcourse_path(:course_id => @courseSelect), :class => 'button5'
= link_to 'Edit This Course', users_course_new_path(:course_id => @courseSelect, :editStatus => 'True'), :class => 'button5'
= link_to 'Add Seating Plan', users_course_seatingplan_path(:course_id => @courseSelect), :class => 'button5'
= link_to 'Manage Seating Plan', users_course_manageseatingplan_path(:course_id => @courseSelect), :class => 'button5'
= link_to 'Mark This Class', users_course_markclass_path(:course_id => @courseSelect), :class => 'button5'
