%h3 Welcome #{@username}
%h3 Course Page :: #{@courseSelect}
= link_to 'Logout', logout_path(:username), method: 'delete', :class => 'logout-button button5'
%h2 Instructor :: #{@course.instructor}
%h2 Days       :: #{@course.days}
%h2 Start-Time :: #{@stime}
%h2 End-Time   :: #{@etime}
%h2 Venue      :: #{@course.venue}
%br
= link_to 'Delete This Course', manageCourse_path, :class => 'button5'
= link_to 'Add Seating Plan', manageCourse_path, :class => 'button5'
= link_to 'Edit Seating Plan', manageCourse_path, :class => 'button5'