%h3 Enter Details.
= flash[:notice]
= link_to 'Logout', logout_path, method: 'delete', :class => 'logout-button button5'
= form_tag classadded_path(:editStatus => @editStatus, :code => @code), :method => :put do

  = label :class, 'Course Code', :class => 'labels'
  = text_field :class, :coursenum
  %br
  = label :class, 'Select Time', :class => 'labels'
  = time_select :class, :time1, :default => {:hour => '00', :minute => '00'}
  %b to
  = time_select :class, :time2,  {:default => {:hour => '00', :minute => '00'}}
  %br
  = label :class, 'Select Days', :class => 'labels'
  - @days.each do |day|
    %b #{day}
    = check_box_tag "days[#{day}]"
  %br
  = label :class, 'Select Venue', :class => 'labels'
  = select :class, :venue, ['','A-9','301','B3']
  %br
  = submit_tag 'Save'
  