%h3 Welcome #{@username} 
= flash[:notice]
%br
= link_to 'Logout', logout_path, method: 'delete', :class => 'logout-button button5'
= link_to 'Add a Course', users_course_new_path(:editStatus => 'False'), :class => 'button5'
= link_to 'Manage a Course', users_course_managecourse_path, :class => 'button5'